APP_URL=http://localhost:8080

NODE_ENV=development

ADMIN_EMAIL="admin@example.com"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

# Mailpit config (local development)
MAILPIT_HOST="127.0.0.1"
MAILPIT_PORT=1025
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

# Resend config (production)
MAIL_API_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
MAIL_FROM_NAME="Auth Server"
MAIL_FROM_ADDRESS=onboarding@resend.dev

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/auth_db"
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

# Auth
ACCESS_TOKEN_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
REFRESH_TOKEN_SECRET="1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ"

# Frontend
FRONTEND_URL="http://localhost:3000"
FRONTEND_HOSTNAME="localhost"

# OAuth2
OAUTH_CALLBACK_BASE_URL=http://localhost:8080 # Same as backend URL

# Google
GOOGLE_CLIENT_ID="my_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="my_client_secret"

# GitHub
GITHUB_CLIENT_ID="my_client_id"
GITHUB_CLIENT_SECRET="my_client_secret"