APP_URL="http://localhost:8080"
FRONTEND_URL="http://localhost:8080" # Static files served by Fastify

NODE_ENV=development

ADMIN_EMAIL="admin@example.com"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

# Mailpit config (local development)
MAILPIT_HOST="127.0.0.1"
MAILPIT_PORT=1025
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

# Resend config (production)
MAIL_API_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
MAIL_FROM_NAME="Auth Server"
MAIL_FROM_ADDRESS="onboarding@resend.dev"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/auth_db"

COOKIE_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

# Auth
ACCESS_TOKEN_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
REFRESH_TOKEN_SECRET="1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ"

# Google
GOOGLE_CLIENT_ID="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
GOOGLE_CLIENT_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

# GitHub
GITHUB_CLIENT_ID="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
GITHUB_CLIENT_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"